<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
     <div class="ui menu">
        
            <a href="/createUser" class="item">New user</a>
            <a href="/searchUser" class="item">Search User</a>
        
    </div>  
    <div class="container"><h1 style="text-align: center;">Users page</h1></div>
    
    
