<%- include('partials/header') -%>

<h1>edit email page</h1>
    

        
        <form action="/getUsers/<%= user._id%>?_method=PUT" method="POST">
          
                <input type="text" name="user[email]" value="<%= user.email%>">
            
                <button class="ui violet basic button">submit</button>
            
            </form>
        



<%- include('partials/footer') -%>