<%- include('partials/header') -%>
<h1>Search new user</h1>
<form action="/searchUserByName" method="GET">
    
<input type="text" name='fullName' placeholder="fullname">

<button>submit</button>
</form>
<%- include('partials/footer') -%>